body {
  font-family: "Helvetica";
  color: seashell;
  background-color: black;
  font-size: 20px;
  text-align: center;
  margin: 0;
  opacity: 0.9;
}

a {
  color: seashell;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 10px;
}
